.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &--white {
    & > * {
      background-color: rgba($white, 0.6) !important;
    }

    & > [class*="active"] {
      background-color: $white !important;
    }
  }

  & > * {
    width: 15px;
    height: 15px;
    margin: 2px 5px;
    border-radius: 50%;

    background-color: rgba($brown, 0.3);
    transition: background-color $transition;
  }

  & > [class*="active"] {
    background-color: $blue-11;
  }
}
