header.header
  .header__container.container
    .header__logo 
      img(src="images/logo.svg", width="160", alt="")
    .header__action
      a.header__action-item(href="#")
        +icon('phone')(width="24", height="24")
      a.header__action-item(href="#")
        +icon('mail')(width="24", height="24")
    .header__menu
      nav.header__nav.nav
        ul.nav__list 
          each item in MENU 
            li.nav__item 
              a.nav__link(href= item.url)= item.text
      ul.header__social.social.social--header
        each item in SOCIAL
          li.social__item
            a(href= item.url, target="_blank")
              span.visually-hidden= item.text
              +icon(item.icon.id)(width= item.icon.w, height= item.icon.h)
      button.header__btn.btn.btn--small.__js_show-modal(type="button") Записаться
    button.header__toggle(type="button")
      span.header__toggle-icon.header__toggle-icon--bar
        +icon('bar')(width="19", height="13")
      span.header__toggle-icon.header__toggle-icon--close
        +icon('close')(width="15", height="15")
