.coaching-program {
  position: relative;
  display: block;
  padding: 32px 32px 44px;
  border-radius: 16px;
  background-color: $brown;
  text-decoration: none;
  transition: background-color $transition;

  @include hover {
    background-color: rgba($brown, 0.9);
  }

  &:active {
    opacity: 0.7;
  }

  @include max(sm) {
    padding: 50px 15px;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-16px) translateX(-21px);
    width: 67px;
    height: 67px;
    padding: 10px;
    border-radius: 50%;
    background-color: $brown;

    @include max(sm) {
      left: 50%;
      transform: translateY(-27px) translateX(-50%);
      width: 50px;
      height: 50px;
      padding: 8px;
    }

    svg {
      display: block;
      max-width: 100%;
      height: auto;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      border-radius: 50%;
      pointer-events: none;
    }

    &::before {
      width: 87px;
      height: 87px;
      border: solid 1px rgba($white, 0.33);

      @include max(sm) {
        width: 65px;
        height: 65px;
      }
    }

    &::after {
      width: 119px;
      height: 119px;
      border: solid 1px rgba($white, 0.09);

      @include max(sm) {
        width: 89px;
        height: 89px;
      }
    }
  }

  &__result {
    font-size: 48px;
    line-height: 1.218958333333333;
    color: rgba($white, 0.85);
    font-weight: 300;
    text-align: center;

    @include max(md) {
      font-size: 36px;
    }

    @include max(xs) {
      //padding-left: 16px;
      //padding-right: 16px;
      font-size: 28px;
      line-height: 1.268928571428571;
    }
  }

  &__title {
    font-size: 42px;
    line-height: 1.219047619047619;
    color: rgba($white, 0.85);
    font-weight: 600;
    text-align: center;

    @include max(md) {
      font-size: 30px;
    }

    @include max(xs) {
      margin: 3px 0 0;
      font-size: 21px;
      line-height: 1.268928571428571;
    }
  }
}
