.coaching-programs {
  position: relative;
  z-index: 1;
  padding: 30px 0 60px;

  @include max(xs) {
    padding: 72px 0 60px;
  }

  &__container {
  }

  &__title {
    margin-bottom: 24px;

    @include max(xs) {
      margin-bottom: 27px;
    }
  }

  &__notice {
    max-width: 980px;
    margin: 0 auto 53px;

    font-size: 24px;
    line-height: 1.219166666666667;
    color: $blue-11;
    text-align: center;

    @include max(xs) {
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 1.21875;
    }

    strong,
    b {
      font-weight: 900;
    }
  }

  &__slider {
    overflow: visible;

    @include max(sm) {
      padding-top: 30px;
      overflow: hidden;
    }

    .swiper-wrapper {
      display: block;

      @include max(sm) {
        display: flex;
      }
    }

    &-pagination {
      margin-top: 16px;
    }
  }

  &__program {
    height: auto;

    & + & {
      margin-top: 25px;

      @include max(sm) {
        margin-top: 0;
      }
    }
  }
}

.coaching-programs + .steps {
  margin-top: -438px;

  @include max(sm) {
    margin-top: -300px;
  }

  @include max(xs) {
    margin-top: -236px;
  }
}
