.cost {
  padding: 29px 0 58px;

  &__container {
  }

  &__title {
    margin-bottom: 32px;
  }

  &__slider {
    overflow: visible;

    @include max(sm) {
      overflow: hidden;
      width: calc(100% + 26px);
      margin-left: -11px;
      padding: 11px;
    }

    .swiper-wrapper {
      flex-wrap: wrap;
      margin-top: -13px;
      margin-left: -13px;

      @include max(sm) {
        flex-wrap: nowrap;
        margin: 0;
      }
    }
  }

  &__card {
    width: calc((100% / 6) - 13px);
    height: auto;
    margin-left: 13px;
    margin-top: 13px;

    @include max(lg) {
      width: calc(33.33% - 13px);
    }

    @include max(sm) {
      width: 196px;
      margin: 0;
    }
  }
}
