.cost-card {
  position: relative;
  padding: 70px 16px 32px;
  border-bottom: solid 4px $blue-11;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.09);

  &__icon {
    position: absolute;
    left: 16px;
    top: 18px;

    &:nth-child(1) {
      width: 43px;
      height: auto;
    }
    &:nth-child(2) {
      width: 42px;
      height: auto;
    }

    svg {
      display: block;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.21875;
    color: $blue-11;
    font-weight: 300;
  }
}
