.nav {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    & + & {
      margin-left: 40px;
    }
  }

  &__link {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-weight: 600;
    color: $blue-11;
    text-decoration: none;

    transition: color $transition;

    @include hover {
      color: $blue-56;
    }
  }
}
