.program-cards {
  position: relative;
  z-index: 1;
  padding: 28px 0 0;

  @include max(sm) {
    padding: 42px 0 0;
  }

  &__container {
  }

  &__title {
    margin-bottom: 21px;
  }

  &__tabs {
    width: calc(100% + 16px);
    margin-left: -8px;
    margin-top: -10px;
    margin-bottom: 34px;

    @include max(sm) {
      width: calc(100% + 15px);
      margin-top: 0;
      margin-left: 0;
      margin-bottom: 24px;
    }
  }

  &__main {
    position: relative;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0; //50%;
    //transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    width: 100%; //calc(100% - 160px);

    &--active {
      position: static;
      //transform: translateX(0);
      //opacity: 1;
      pointer-events: auto;
      width: 100%;
      margin: 0 auto;
    }

    &.opacity {
      opacity: 1;
    }

    &.animate {
      transition: opacity $transition;
    }
  }
}

.program-cards + .program-detail {
  margin-top: -523px;

  @include max(xs) {
    margin-top: -240px;
  }
}
