.program-detail {
  position: relative;
  z-index: 0;
  padding: 562px 0 88px;
  background-color: $brown;

  @include max(sm) {
    padding: 276px 0 71px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    z-index: -1;
    pointer-events: none;

    width: 100%;
    height: 51%;
    background-color: $white;
    background-repeat: no-repeat;
    background-size: 1920px auto;

    @include min(1920) {
      background-size: 100% auto;
    }

    @include max(1680) {
      background-size: 1680px auto;
    }

    @include max(md) {
      background-size: 1080px auto;
    }

    @include max(sm) {
      background-size: 100% auto;
    }
  }

  &::before {
    top: 0;
    background-position: 50% 0;
    background-image: linear-gradient(to top, $brown 80%, transparent 80%),
      url("data:image/svg+xml;charset=UTF-8,%3csvg width='1680' height='1407' viewBox='0 0 1680 1407' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m0 84 1680-61.717V1344.51L0 1389.28V84Z' fill='%2340201A'/%3e%3cpath opacity='.91' d='M1731 59.045-27 0v1265h1758V59.045Z' fill='%2340201A'/%3e%3cpath opacity='.91' d='M-27 1345.62 1798 1407V92H-27v1253.62Z' fill='%2340201A'/%3e%3c/svg%3e");

    @include max(sm) {
      background-image: linear-gradient(to top, $brown 80%, transparent 80%),
        url("data:image/svg+xml;charset=UTF-8,%3csvg width='320' height='1133' viewBox='0 0 320 1133' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M-887 50.877 793 0v1089.99l-1680 36.91V50.877Z' fill='%2340201A'/%3e%3cpath opacity='.91' d='M-914 1104.46 942 1133 911 73.175H-914V1104.46Z' fill='%2340201A'/%3e%3c/svg%3e");
    }
  }

  &::after {
    bottom: 0;
    background-position: left 50% bottom 0;

    background-image: linear-gradient(to bottom, $brown 80%, transparent 80%),
      url("data:image/svg+xml;charset=UTF-8,%3csvg width='1680' height='1407' viewBox='0 0 1680 1407' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m0 84 1680-61.717V1344.51L0 1389.28V84Z' fill='%2340201A'/%3e%3cpath opacity='.91' d='M1731 59.045-27 0v1265h1758V59.045Z' fill='%2340201A'/%3e%3cpath opacity='.91' d='M-27 1345.62 1798 1407V92H-27v1253.62Z' fill='%2340201A'/%3e%3c/svg%3e");

    @include max(sm) {
      background-image: linear-gradient(to bottom, $brown 80%, transparent 80%),
        url("data:image/svg+xml;charset=UTF-8,%3csvg width='320' height='1133' viewBox='0 0 320 1133' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M-887 50.877 793 0v1089.99l-1680 36.91V50.877Z' fill='%2340201A'/%3e%3cpath opacity='.91' d='M-914 1104.46 942 1133 911 73.175H-914V1104.46Z' fill='%2340201A'/%3e%3c/svg%3e");
    }
  }

  &__container {
  }

  &__tabs {
    margin-bottom: 43px;

    @include max(sm) {
      width: calc(100% + 15px);
    }

    @include max(xs) {
      margin-bottom: 26px;
    }
  }

  &__main {
    position: relative;
    padding: 0 86px;

    @include max(lg) {
      padding: 0;
    }
  }

  &__prev,
  &__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    @include max(lg) {
      display: none;
    }
  }

  &__prev {
    left: 0;
  }

  &__next {
    right: 0;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    //transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    width: 100%;

    &--active {
      position: static;
      transform: translateX(0);
      pointer-events: auto;
      width: 100%;
      margin: 0 auto;
    }

    &.opacity {
      opacity: 1;
    }

    &.animate {
      transition: opacity $transition;
    }
  }

  &__head {
    display: flex;
    margin-bottom: 57px;

    @include max(md) {
      display: block;
    }

    @include max(xs) {
      margin-bottom: 24px;
    }

    &-title {
      width: 50%;
      padding-right: 32px;
      font-size: 32px;
      line-height: 1.2690625;
      color: $white;
      font-weight: 700;
      flex-shrink: 0;
      align-self: center;

      @include max(md) {
        width: 100%;
        margin-bottom: 24px;
        padding-right: 0;
      }

      @include max(xs) {
        font-size: 24px;
        line-height: 1.269166666666667;
      }
    }

    &-text {
      width: 50%;

      padding: 10px 0 10px 64px;
      font-size: 24px;
      line-height: 1.219166666666667;
      color: $white;
      border-left: solid 1px $white;
      flex-shrink: 0;

      @include max(md) {
        width: 100%;
        padding: 0;
        border-left: none;
      }

      @include max(xs) {
        font-size: 16px;
        line-height: 1.21875;
      }
    }
  }

  &__slider {
    @include max(sm) {
      width: calc(100% + 15px);
    }

    .swiper-wrapper {
      flex-wrap: wrap;
      margin-left: -12px;
      margin-top: -24px;

      @include max(sm) {
        flex-wrap: nowrap;
        margin-left: 0;
        margin-top: 0;
      }
    }
  }

  &__item {
    position: relative;
    width: calc(33.33% - 12px);
    min-height: 23px;
    margin-left: 12px;
    margin-top: 24px;
    padding-left: 40px;

    @include max(md) {
      width: calc(50% - 12px);
    }

    @include max(sm) {
      width: 300px;
      margin-left: 0;
      margin-top: 0;
      opacity: 0.5;
      transition: opacity $transition;

      &.swiper-slide-active,
      &.swiper-slide-active + &.swiper-slide-next:last-child {
        opacity: 1;
      }
    }

    @include max(xs) {
      width: 228px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 23px;
      height: 23px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='11.5' cy='11.5' r='10.35' stroke='%23fff' stroke-width='2.3'/%3e%3cpath d='m5.75 11.883 4.31 4.641a.767.767 0 0 0 1.207-.108l5.6-8.75' stroke='%23fff' stroke-width='2.3' stroke-linecap='round'/%3e%3c/svg%3e");
    }

    &-title {
      max-width: 290px;
      margin-bottom: 16px;
      font-size: 20px;
      line-height: 1.219;
      color: $white;
      font-weight: 700;

      @include max(xs) {
        font-size: 12px;
        line-height: 1.219285714285714;
      }
    }

    &-text {
      font-size: 16px;
      line-height: 1.21875;
      color: $white;

      @include max(xs) {
        font-size: 12px;
        line-height: 1.219166666666667;
      }
    }
  }

  &__btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    vertical-align: top;
    margin-top: 57px;

    @include max(xs) {
      position: static;
      transform: translateX(0);
      margin-top: 24px;
      padding-top: 17px;
      padding-bottom: 17px;
      border-radius: 10px;
      font-size: 20px;
    }
  }
}
