.social {
  $self: &;
  display: flex;
  width: 100%;
  justify-content: center;
  margin: -8px 0 !important;

  @include max(xs) {
    padding: 32px 0 !important;

    border-top: solid 1px rgba($white, 0.5);
    border-bottom: solid 1px rgba($white, 0.5);
  }

  &--header {
    &::before,
    &::after {
      display: none;
    }

    #{$self}__item {
      margin-left: 19px;
      margin-right: 19px;

      a {
        width: 25px;
        height: 19px;

        svg {
          width: 100%;
          height: 100%;
          object-fit: scale-down;
          fill: $blue-11;
        }
      }
    }
  }

  &::before,
  &::after {
    content: "";
    border-top: solid 1px rgba($white, 0.5);
    flex-grow: 1;
    align-self: center;

    @include max(sm) {
      display: none;
    }
  }

  &::before {
    margin-right: 18px;
  }
  &::after {
    margin-left: 18px;
  }

  &__item {
    margin: 8px 18px;
    flex-shrink: 0;
    align-self: center;

    a {
      display: block;

      svg {
        display: block;
        fill: $white;
        transition: fill $transition;
      }

      @include hover {
        svg {
          fill: rgba($white, 0.7);
        }
      }

      &:active {
        opacity: 0.7;
      }
    }
  }
}
