.table {
  $self: &;
  background-color: $white;

  @include max(lg) {
    display: flex;
  }

  &--additional {
    @include max(lg) {
      display: block;
    }

    #{$self}__head {
      @include max(lg) {
        display: flex;
        width: 100%;
        max-width: none;
      }

      &-cell {
        width: 50%;

        @include max(lg) {
          background-color: rgba($grey-aa, 0.44);
        }
      }
    }

    #{$self}__row {
      @include max(lg) {
        display: flex;
        width: 100%;

        &:nth-child(even) {
          background-color: rgba($grey-aa, 0.44);
        }
      }
    }

    #{$self}__cell {
      width: 50%;

      @include max(lg) {
        background-color: transparent !important;
      }
    }
  }

  &__head {
    $head: &;
    display: flex;
    width: 100%;
    min-height: 78px;
    padding: 16px 10px;
    border-radius: 4px;
    background-color: $blue-11;

    @include max(lg) {
      display: block;
      padding: 0;
      //flex-direction: column;
      width: 50%;
      max-width: 300px;
      margin-right: -1px;
      flex-shrink: 0;
      border-right: solid 1px $grey-ba;
      background-color: $white;
    }

    @include max(sm) {
      max-width: none;
    }

    &-group {
      display: flex;
      flex-grow: 1;

      @include max(lg) {
        flex-direction: column;
      }

      #{$head}-cell {
        width: 33.33%;

        @include max(lg) {
          width: 100%;

          &:nth-child(odd) {
            background-color: rgba($grey-aa, 0.44);
          }
        }
      }
    }

    &-cell {
      $cell: &;
      display: flex;
      padding: 0 20px;
      font-size: 12px;
      line-height: 1.219166666666667;
      letter-spacing: 1px;
      color: $white;
      font-weight: 600;
      text-transform: uppercase;
      flex-grow: 1;

      @include max(lg) {
        padding: 20px 12px 20px 16px;
        color: $blue-11;
      }

      @include max(xxs) {
        font-size: 10px;
      }

      &--composite {
        display: block;
        padding: 0 10px;
        font-size: 9px;

        @include max(lg) {
          display: flex;
          padding: 0;
        }
      }

      &--composite-online {
        max-width: 34.5%;

        @include max(lg) {
          width: 100%;
          max-width: none;
        }

        #{$cell}-part {
          width: 25%;

          @include max(lg) {
            width: 100%;

            &:nth-child(even) {
              background-color: rgba($grey-aa, 0.44);
            }
          }
        }
      }

      &--composite-offline {
        max-width: 30.5%;

        @include max(lg) {
          width: 100%;
          max-width: none;
        }

        #{$cell}-part {
          width: 33.33%;

          @include max(lg) {
            width: 100%;

            &:nth-child(even) {
              background-color: rgba($grey-aa, 0.44);
            }
          }
        }
      }

      &--composite-offline + &--composite-online {
        #{$cell}-part {
          @include max(lg) {
            &:nth-child(even) {
              background-color: $white;
            }
            &:nth-child(odd) {
              background-color: rgba($grey-aa, 0.44);
            }
          }
        }
      }

      &-hint {
        width: calc(100% - 20px);
        margin: 0 10px 8px;
        padding: 0 0 5px;
        border-bottom: solid 1px rgba($white, 0.5);
        text-align: center;

        @include max(lg) {
          width: auto;
          margin: 0;
          padding: 5px;
          border: none;
          writing-mode: vertical-lr;
          background-color: rgba($grey-aa, 0.44);
        }
      }

      &-row {
        display: flex;

        @include max(lg) {
          width: 100%;
          flex-direction: column;
        }
      }

      &-part {
        display: flex;
        padding: 0 10px;
        flex-grow: 1;

        @include max(lg) {
          width: 100%;
          font-size: 12px;
        }

        & + & {
          border-left: solid 1px rgba($white, 0.5);

          @include max(lg) {
            border: none;
          }
        }

        span {
          align-self: center;
        }
      }

      & + & {
        border-left: solid 1px rgba($white, 0.5);
      }

      span {
        align-self: center;
      }
    }
  }

  &__body {
    padding: 10px 10px;

    @include max(lg) {
      padding: 0;
    }

    .swiper-wrapper {
      flex-wrap: wrap;

      @include max(lg) {
        flex-wrap: nowrap;
      }
    }
  }

  &__row {
    display: flex;

    @include max(lg) {
      display: block;
      width: 50%;
      height: auto;
      flex-grow: 1;
      //flex-direction: column;

      & + & {
        border-left: solid 1px $grey-ba;
      }
    }
  }

  &__group-cells {
    display: flex;
    flex-grow: 1;

    @include max(lg) {
      display: block;
      width: 100%;
      height: auto;
    }

    #{$self}__cell {
      width: 33.33%;
      flex-shrink: 0;

      @include max(lg) {
        width: 100%;
      }
    }
  }

  &__cell {
    $cell: &;
    display: flex;
    flex-grow: 1;

    padding: 24px 20px;
    font-size: 14px;
    line-height: 1.5;
    color: $blue-11;

    @include max(lg) {
      padding: 20px 12px 20px 16px;

      &:nth-child(odd) {
        background-color: rgba($grey-aa, 0.44);
      }
    }

    &:first-child {
      b {
        font-weight: 600;
      }
    }

    &--composite {
      display: flex;
      width: 100%;
      padding: 0 10px;
      flex-shrink: 0;

      @include max(lg) {
        display: block;
        padding: 0;
      }
    }

    &--composite-online {
      max-width: 34.5%;

      @include max(lg) {
        max-width: none;
      }

      #{$cell}-part {
        width: 25%;

        @include max(lg) {
          width: 100%;
        }
      }
    }

    &--composite-offline {
      max-width: 30.5%;

      @include max(lg) {
        max-width: none;
      }

      #{$cell}-part {
        width: 33.33%;

        @include max(lg) {
          width: 100%;
        }
      }
    }

    &--composite-offline + &--composite-online {
      #{$cell}-part {
        @include max(lg) {
          &:nth-child(even) {
            background-color: $white !important;
          }
          /*&:nth-child(odd) {
            background-color: rgba($grey-aa, 0.44) !important;
          }*/
        }
      }
    }

    span {
      align-self: center;
    }

    &-part {
      display: flex;
      justify-content: center;
      padding: 0 10px;
      flex-grow: 1;

      @include max(lg) {
        padding: 20px 12px 20px 16px;

        &:nth-child(even) {
          background-color: rgba($grey-aa, 0.44);
        }
      }

      span {
        align-self: center;
      }
    }
  }
}
