.wishmap-result-item {
  display: block;
  width: 191px;
  padding: 0;
  border: none;
  background-color: transparent;
  appearance: none;
  cursor: pointer;

  @include max(md) {
    width: 113px;
  }

  &__icon {
    height: 44px;
    margin-bottom: 16px;

    @include max(md) {
      height: 19px;
      margin-bottom: 8px;
    }

    svg {
      display: block;
      margin: 0 auto;
      width: auto;
      height: 100%;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.219285714285714;
    color: $white;
    font-weight: 600;
    text-align: center;

    @include max(md) {
      font-size: 10px;
    }
  }
}
