section.but
  .but__container.container
    each item in BUT_ITEMS
      .but__item
        .but__item-row
          span.but__item-bold Вы можете: 
          span.but__item-text1= item.can
        .but__item-row
          span.but__item-bold Но: 
          span.but__item-text!= item.but
