section.certificates#certificates
  .certificates__container.container
    h2.certificates__title.title 
      span Мое образование
    .certificates__slider
      .swiper 
        .swiper-wrapper
          each item in CERTIFICATES
            .certificates__item.swiper-slide 
              img(src="images/" + item.name + ".jpg", width= item.w, height= item.h, alt="Сертификат")
        .certificates__pagination.pagination
      .certificates__slider-nav
        +nav-btn('prev', '')
        +nav-btn('next', '')