section.certificates#certificates
  .certificates__container.container
    h2.certificates__title.title 
      span Мое образование
    .certificates__slider
      .swiper 
        .swiper-wrapper
          each item in CERTIFICATES
            a.certificates__item.swiper-slide(data-fancybox, href="images/" + item.name + ".jpg")
              img(src="images/" + item.name + ".jpg", alt="Сертификат")
        .certificates__pagination.pagination
      .certificates__slider-nav
        +nav-btn('prev', '')
        +nav-btn('next', '')