section.coaching-programs
  .coaching-programs__container.container
    h2.coaching-programs__title.title 
      span Программы коучинга управления возрастом
    .coaching-programs__notice <strong>Первая консультация</strong> для оценки совместимости консультанта и клиента, ответов на вопросы, выбора варианта сотрудничества <strong>бесплатная</strong>

    .coaching-programs__slider.swiper 
      .swiper-wrapper
        each item in COACHING_PROGRAMS
          .coaching-programs__program.coaching-program.swiper-slide
            span.coaching-program__icon 
              include ../../sprite/check-round.svg
              //-+icon('check-round')(width="45", height="45")
            .coaching-program__result!= item.result
            h3.coaching-program__title!= item.title
      .coaching-programs__slider-pagination.pagination.pagination--white