section.cost 
  .cost__container.container 
    h2.cost__title.title 
      span Стоимость и&nbsp;условия оплаты

    .cost__slider.swiper 
      .swiper-wrapper
        each item, index in COST_CARDS
          .cost__card.cost-card.swiper-slide
            .cost-card__icon
              if index === 0
                include ../../sprite/cost/cost-1.svg
              if index === 1
                include ../../sprite/cost/cost-2.svg
              if index > 1
                +icon(item.icon.id)(width= item.icon.w, height= item.icon.h)
            .cost-card__text!= item.text