section.programs
  .programs__container.container
    .programs__tabs.tabs.swiper
      .swiper-wrapper
        each item, index in PROGRAMS_TABS
          button.tabs__item.btn.btn--round(class= (index === 0 ? 'btn--active' : ''), type="button", data-target= item.target)!= item.text
    .programs__main 
      each item, index in PROGRAMS_TABS
        .programs__content(class= (index === 0 ? 'programs__content--active' : ''), id= item.target)
          .programs__card.program-card
            .program-card__main 
            .program-card__image 
              img(src="", alt="")
