section.program-cards
  .program-cards__container.container
    .program-cards__tabs.tabs.swiper
      .swiper-wrapper
        each tab, index in PROGRAM_CARDS
          button.tabs__item.btn.btn--round.swiper-slide(class= (index === 0 ? 'btn--active' : ''), type="button", data-target= tab.id)!= tab.text
    .program-cards__main 
      each item, index in PROGRAM_CARDS
        .program-cards__content(class= (index === 0 ? 'program-cards__content--active opacity' : ''), id= item.id)
          .program-cards__card.program-card
            .program-card__main
              .program-card__main-title!= item.card.title
              .program-card__main-target!= item.card.target
              .program-card__main-result!= item.card.result
              ul.program-card__main-list
                each li in item.card.list 
                  li.program-card__main-item!= li
              
              a.program-card__main-btn.btn(href="#") Подробнее
            .program-card__image
              picture
                source(media="(max-width: 1269px)", srcset="images/" + item.card.image + "-mobile.jpg 1x, images/" + item.card.image + "-mobile@2x.jpg 2x")
                img(src="images/" + item.card.image + ".jpg", srcset="images/" + item.card.image + "@2x.jpg 2x", alt="Яхницкий Георгий Георгевич")
