section.program-cards
  .program-cards__container.container
    .program-cards__tabs.tabs.swiper
      .swiper-wrapper
        each tab, index in PROGRAM_CARDS
          button.tabs__item.btn.btn--round(class= (index === 0 ? 'btn--active' : ''), type="button", data-target= tab.id)!= tab.text
    .program-cards__main 
      each item, index in PROGRAM_CARDS
        .program-cards__content(class= (index === 0 ? 'program-cards__content--active' : ''), id= item.id)
          .program-cards__card.program-card
            .program-card__main
              .program-card__main-title!= item.card.title
              .program-card__main-result!= item.card.result
              ul.program-card__main-list
                each li in item.card.list 
                  li.program-card__main-item!= li 
              
              a.program-card__main-btn.btn(href="#") Подробнее
            .program-card__image 
              img(src="images/" + item.card.image + ".jpg", srcset="images/" + item.card.image + "@2x.jpg 2x", width="555", height="721", alt="Яхницкий Георгий Георгевич в фитнес-зале")
