section.slogan
  .slogan__container.container 
    .slogan__main
      h2.slogan__main-title <span>Управляйте возрастом —</span> счастливая жизнь до&nbsp;глубокой старости это интересно!
      .slogan__main-text Формула Счастья: 6 «С» "С": <br>Солнце - Сон - Смех - Спорт - Секс - Социализация. Время, в течение которого человек здоров, а не просто&nbsp;жив (Health span, англ. Health - здоровье, span – простирается)
    .slogan__image
      img(src="images/slogan-img.jpg", srcset="images/slogan-img@2x.jpg 2x", width="598", height="513", alt="Яхницкий Георгий Георгевич")

      .slogan__image-caption Получай Удовольствия от жизни долго! <br>Любовь, секс, вино и море до глубокой старости!