section.slogan
  .slogan__container.container 
    .slogan__main
      h2.about-coach__main-title.title.title--line Слоган
      .slogan__main-slogan <span>Управляйте возрастом —</span> счастливая жизнь до глубокой старости это интересно!
      .slogan__main-text Формула Счастья: 6 «С» "С": Солнце - Сон - Смех - Спорт - Секс - Социализация. Время, в течение которого человек здоров, а не просто жив (Health span, англ. Health - здоровье, span – простирается)
      a.slogan__main-btn.btn.btn--white(href="#") Подробнее
    .slogan__image
      img(src="images/slogan-img.png", srcset="images/slogan-img@2x.png 2x", width="725", height="535", alt="Яхницкий Георгий Георгевич")