section.steps
  .steps__container.container 
    h2.steps__title.title.title--white 
      span Этапы нашей совместной работы
    .steps__slider.swiper
      .swiper-wrapper
        each item in STEPS
          .steps__slider-step.swiper-slide
            h3.steps__slider-step-title!= item.title
            .steps__slider-step-text!= item.text 
            span.steps__slider-step-border
    .steps__aside
      .swiper 
        .swiper-wrapper
          each height, index in ['583', '682', '683']
            .swiper-slide
              img(src="images/steps-img-" + (index + 1) + ".png", srcset="images/steps-img-" + (index + 1) + "@2x.png 2x", width="574", height= height, alt="Яхницкий Георгий Георгевич")
      
      .steps__aside-pagination.pagination.pagination--white