section.steps
  .steps__container.container 
    h2.steps__title.title.title--white 
      span Этапы совместной работы
    .steps__slider.swiper
      .swiper-wrapper
        each item in STEPS
          .steps__slider-step.swiper-slide
            h3.steps__slider-step-title!= item.title
            .steps__slider-step-text!= item.text 
            span.steps__slider-step-border
    .steps__image
      img(src="images/steps-img.png", srcset="images/steps-img@2x.png 2x", width="574", height="682", alt="Яхницкий Георгий Георгевич")