section.whatisit#whatisit
  .whatisit__container.container
    .whatisit__aside
      .whatisit__aside-image 
        img(src="images/whatisit-img.jpg", srcset="images/whatisit-img@2x.jpg 2x", width="562", height="668", alt="Яхницкий Георгий Георгевич")
      .whatisit__aside-text 
        span Получай удовольствия от&nbsp;жизни долго! Любовь, секс, вино и&nbsp;море до глубокой старости!

        .whatisit__aside-text-play
          +icon('play')(width="49", height="57")

    .whatisit__main
      h2.whatisit__main-title.title.title--line 
        span Что это?
      .whatisit__main-subtitle Управление возрастом для&nbsp;счастливого долголетия
      
      .whatisit__main-text 
        p <b>Управление возрастом</b> — это диагностика, целеполагание, коррекция нарушений, обучение принципам и навыкам контроля здоровья, здорового питания, физической и психической активности для&nbsp;продления счастливой жизни!

        p Коучинг <strong>объединяет</strong> усилия врача, диетолога, нутрициолога и фитнес-тренера. Я научу Вас понимать показатели своего здоровья, принципы и навыки здорового образа жизни и предупреждения болезни, помогу сформировать привычку жить в соответствии с этими принципами и мотивирую на достижение поставленной Вами цели!

      a.whatisit__main-btn.btn(href="#") Подробнее