section.whatisit
  .whatisit__coontainer.container
    .whatisit__aside
      .whatisit__aside-image 
        img(src="images/whatisit-img.jpg", srcset="images/whatisit-img@2x.jpg 2x", width="431", height="686", alt="Яхницкий Георгий Георгевич")
      .whatisit__aside-text 
        span Получай удовольствия от жизни долго! Любовь, секс, вино и море до глубокой старости!

        a(href="#")
          +icon('play')(width="49", height="57")

    .whatisit__main
      h2.whatisit__main-title.title.title--line Что это?
      .whatisit__main-subtitle Управление возрастом для счастливого долголетия
      
      .whatisit__main-text 
        p Коучинг <b>объединяет</b> усилия врача, диетолога, нутрициолога и фитнес-тренера. Я научу Вас понимать показатели своего здоровья, принципы и навыки здорового образа жизни и предупреждения болезни, помогу сформировать привычку жить в соответствии с этими принципами и мотивирую на достижение поставленной Вами цели!

        p <b>Управление возрастом</b> - это диагностика, целеполагание, коррекция нарушений, обучение принципам и навыкам контроля здоровья, здорового питания, физической и психической активности для продления счастливой жизни!

      a.whatisit__main-btn.btn(href="#") Подробнее