html {
  font-size: $fs-main;
}

body {
  font-family: $mainFont;
  color: $textMainColor;
  line-height: $lh-main;

  &.hidden {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;

  @include max(lg) {
    max-width: 990px;
  }

  @include max(md) {
    max-width: 768px;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
