extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};

block main
	include ../modules/hero
	include ../modules/but
	//-start
	include ../modules/whatisit
	include ../modules/longevity
	//- end
	include ../modules/wishmap
	include ../modules/coaching-programs
	include ../modules/steps
	//-start
	include ../modules/program-cards
	include ../modules/program-detail
	include ../modules/cost
	include ../modules/program-tables
	//-include ../modules/about-coach
	include ../modules/certificates
	//-end
	include ../modules/slogan
	include ../modules/application