extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};

block main
	include ../modules/hero
	include ../modules/but
	include ../modules/whatisit
	include ../modules/longevity
	include ../modules/wishmap
	include ../modules/coaching-programs
	include ../modules/steps
	// include ../modules/programs
	include ../modules/cost
	include ../modules/program-tables
	//include ../modules/about-coach
	include ../modules/certificates
	include ../modules/slogan
	include ../modules/application