-
  // common
  const MENU = [
    {text: 'О коучинге', url: '#'},
    {text: 'Программа', url: '#'},
    {text: 'Приложение', url: '#'},
    {text: 'Об авторе', url: '#'}
  ];

  // hero section
  const HERO_QUESTIONS = [
    'Хотите ли Вы любить и заниматься сексом, вкусно есть и пить, путешествовать и&nbsp;наслаждаться жизнью до старости?',
    'Иметь высокое качество жизни, без&nbsp;хронических болезней и боли?',
    'Иметь либидо как в 25?',
    'Получать удовольствие от работы, увлечений, общения, природы?'
  ];

  // but section
  const BUT_ITEMS = [
    {can: 'обратиться к врачу.', but: 'кто займется Вашим образом жизни?'},
    {can: 'пойти к диетологу.', but: 'как же физическая активность и коррекция метаболических нарушений?'},
    {can: 'записаться в фитнес клуб.', but: 'занятия фитнесом без коррекции гормональных нарушений <br>и без нормализации обмена веществ могут быть опасны!'}
  ];

  // wishmap section
  const WISHMAP_ITEMS = [
    {icon: {id: 'wm-1', w: '59', h: '84'}, title: 'Научитесь определять ранние признаки инсулинорезистентности', text: 'Выявление инсулинорезистентности может предотвратить развитие сахарного диабета 2го типа. Вы узнаете, на какие показатели крови нужно обращать внимание для раннего выявления проблемы', mod: 'one'},
    {icon: {id: 'wm-2', w: '82', h: '84'}, title: 'Узнаете о составе своего тела (содержание мышц, жира, воды)', text: 'Научитесь читать результат биоимпедансометрии, поймете к каким показателям состава тела Вам надо стремится, узнаете как часто и где можно', mod: 'two'},
    {icon: {id: 'wm-3', w: '94', h: '86'}, title: 'Узнаете как легко выявить у себя проявления окислительный стресса', text: 'Научитесь экспресс-диагностике определения избытка свободных радикалов, и узнаете нужны ли Вам дополнительные антиоксиданты, какие, и в каких дозах', mod: 'three'},
    {icon: {id: 'wm-4', w: '85', h: '83'}, title: 'Узнаете как выбирать эффективные БАД', text: 'Узнаете как считать дозировки ω (омега) 3 ненасыщенных жирных кислот, витамина D3, других витаминов и минералов', mod: 'four'},
    {icon: {id: 'wm-5', w: '92', h: '75'}, title: 'Научитесь определять у себя предвестники наступления возрастного гормонального дефицита', text: 'Дефицита тестостерона у мужчин, эстрогенов, прогестерона и тестостерона у женщин, гормонов щитовидной железы без определения их в анализах крови', mod: 'five'},
    {icon: {id: 'wm-6', w: '74', h: '74'}, title: 'Узнаете о генетическом исследовании (генетический паспорт) и необходимости его заказа', text: 'Переносимость и эффективность лекарств, предрасположенность к болезням,  непереносимостью продуктов и возможный дефицит витаминов', mod: 'six'},
    {icon: {id: 'wm-7', w: '53', h: '58'}, title: 'Узнаете, как определить необходимость и дозу приема ω (омега) 3 полиненасыщенных жирных кислот', text: 'Какой показатель крови нужно контролировать, где сдать и как интерпретировать', mod: 'seven'},
    {icon: {id: 'wm-8', w: '75', h: '75'}, title: 'Поймете как выявить и предотвратить развитие остеопороза', text: 'Где сделать денситометрию и какие лабораторные тесты сдать для контроля за состоянием костной такни', mod: 'eight'}
  ];

  const WISHMAP_RESULT_ITEMS = [
    {icon: {id: 'wmr-1', w: '54', h: '43'}, text: 'Компенсируете гормональные нарушения', mod: 'one'},
    {icon: {id: 'wmr-2', w: '44', h: '44'}, text: 'Станете бодрее, сильнее, спокойнее, работоспособнее', mod: 'two'},
    {icon: {id: 'wmr-3', w: '43', h: '43'}, text: 'Получите подходящую диету и научитесь правильному питанию', mod: 'three'},
    {icon: {id: 'wmr-4', w: '56', h: '44'}, text: 'Получите сопровождение с&nbsp;фитнес клубе и научитесь фитнесу', mod: 'four'},
    {icon: {id: 'wmr-5', w: '43', h: '43'}, text: 'Сформируете привычку к счастливой жизни', mod: 'five'},
    {icon: {id: 'wmr-6', w: '37', h: '44'}, text: 'Компенсируете недостаток витаминов и минералов', mod: 'six'},
    {icon: {id: 'wmr-7', w: '41', h: '43'}, text: 'Будете хорошо спать, смеяться, заниматься сексом, спортом и получать удовольствие от жизни!', mod: 'seven'},
    {icon: {id: 'wmr-8', w: '42', h: '43'}, text: 'Научитесь понимать свои анализы, будете знать когда их сдавать, и что контролировать', mod: 'eight'}
  ];

  // coaching programs section
  const COACHING_PROGRAMS = [
    {result: 'До достижения цели', title: 'Управление возрастом. Результат'},
    {result: 'До формирования привычки', title: 'Управление возрастом. Привычка'},
    {result: 'Получение знаний и навыков', title: 'Управление возрастом. Обучение'},
    {result: 'Получение рекомендаций', title: 'Управление возрастом. Рекомендации'}
  ];

  // steps section
  const STEPS = [
    {title: 'Первый бесплатный визит', text: 'Для оценки совместимости с консультантом, ответов на Ваши вопросы, выбора варианта сотрудничества.'},
    {title: 'Обследования', text: 'Инструментальные и лабораторные исследования,  оценка физического состояния и биологического возраста'},
    {title: 'Коррекция нарушений и дефицитов', text: 'Назначение и прием лекарственных средств врачом, назначение и прием БАД'},
    {title: 'Получение письменных рекомендаций', text: 'По образу жизни, питанию, контролю анализов, фитнесу'},
    {title: 'Обучение образу жизни, питанию, фитнесу', text: 'Отработка на практике полученных рекомендаций, и их коррекция при необходимости'},
    {title: 'Формирование привычки', text: 'Сопровождение и помощь в исполнении рекомендаций до выработки устойчивой привычки '},
    {title: 'Результат', text: 'Достижение промежуточного результата и&nbsp;определение новой цели'}
  ];

  // program cards section
  const PROGRAM_CARD_1 = {
    image: 'program-card-img-1',
    title: '<span>Управление возрастом. Результат.</span> Включает в себя все этапы работы до получения результата.',
    target: 'Обследование, постановка цели, составление рекомендаций, сопровождение в достижении цели, отработка знаний и навыков, формирование привычки, здоровые изменения психики, достижение промежуточной цели.',
    result: '<b>Результат:</b> Гармония гормонов-Сна-Питания-Физической активности-Психики',
    list: ['Изучите показатели своего здоровья', 'Определите свою цель и получите рекомендации по режиму дня и сна, лекарственной терапии возрастных нарушений, компенсации недостатка витаминов и минералов, питанию, физической активности', 'Научитесь принципам и навыкам контроля здоровья, здорового питания и физической активности и сформируете привычку предупреждать болезни, соблюдать правила здорового питания, физической активности и психической деятельности', 'Увидите стойкие признаки улучшения психического здоровья и достигните промежуточной цели']
  };

  const PROGRAM_CARD_2 = {
    image: 'program-card-img-2',
    title: '<span>Управление возрастом. Привычка.</span> Включает этапы коучинга включая формирование привычки.',
    target: 'Обследование, постановка цели, составление рекомендаций, сопровождение в достижении цели, отработка знаний и навыков, формирование привычки',
    result: '<b>Результат:</b> Гармония гормонов-Сна-Питания-Физической активности.',
    list: ['Изучите показатели своего здоровья', 'Определите свою цель', 'Получите рекомендации по режиму дня и сна, лекарственной терапии возрастных нарушений, компенсации недостатка витаминов и минералов, питанию, физической активности, но', 'Научитесь принципам и навыкам контроля здоровья, здорового питания и физической активности и', 'Сформируете привычку предупреждать болезни, соблюдать правила здорового питания и физической активности']
  };

  const PROGRAM_CARD_3 = {
    image: 'program-card-img-3',
    title: '<span>Управление возрастом. Обучение.</span> Включает этапы коучинга включая обучению образу жизни',
    target: 'Обследование, постановка цели, составление рекомендаций, сопровождение в достижении цели, отработка знаний и навыков',
    result: '<b>Результат</b>: навыки достижения Гармония гормонов-Сна-Питания-Физической активности',
    list: ['Изучите показатели своего здоровья', 'Определите свою цель', 'Получите рекомендации по режиму дня и сна, лекарственной терапии возрастных нарушений, компенсации недостатка витаминов и минералов, питанию, физической активности, но', 'Научитесь принципам и навыкам контроля здоровья, здорового питания и физической активности.']
  };

  const PROGRAM_CARD_4 = {
    image: 'program-card-img-4',
    title: '<span>Управление возрастом. Рекомендации.</span> Включает этапы коучинга включая получение рекомендации.',
    target: 'Обследование, постановка цели, составление рекомендаций.',
    result: '<b>Результат:</b> знания о Гармония гомонов-Сна-Питания-Физической активности',
    list: ['Изучите показатели своего здоровья', 'Определите свою цель', 'Получите рекомендации по режиму дня и сна, лекарственной терапии возрастных нарушений, компенсации недостатка витаминов и минералов, питанию, физической активности.']
  };

  const PROGRAM_CARDS = [
    {text: '<span>Управление возрастом. </span>Результат', id: 'program-card-result', card: PROGRAM_CARD_1},
    {text: '<span>Управление возрастом. </span>Привычка', id: 'program-card-habit', card: PROGRAM_CARD_2},
    {text: '<span>Управление возрастом. </span>Обучение', id: 'program-card-learning', card: PROGRAM_CARD_3},
    {text: '<span>Управление возрастом. </span>Рекомендации', id: 'program-card-recommendations', card: PROGRAM_CARD_4}
  ];
  
  // program detail section
  const PROGRAM_DETAIL_LIST = [
    {title: 'Изучение своего организма', text: 'Оценка истории жизни; физикальное/лабораторное/инструментальное обследование; при необходимости осмотр гинеколога/уролога/эндокринолога для выявления возрастных гормональных нарушений)'},
    {title: 'Постановку персональной цели', text: 'Цель должна быть определена по SMART - конкретная (Specific), измеримая (Measurable), достижимая (Achievable), актуальная (Relevant), определенная по срокам достижения (Time bound).'},
    {title: 'Рекомендации по достижению цели', text: 'Письменные рекомендации по режиму дня и сна, лекарственной терапии возрастных нарушений, компенсации недостатка витаминов и минералов, питанию, физической активности.'},
    {title: 'Сопровождение в выполнении рекомендаций и достижении цели', text: 'Наблюдение за динамикой показателей здоровья, контроль эффективности лекарственной терапии и приема БАД, контроль питания, физической активности, коррекция и адаптация рекомендаций'},
    {title: 'Формирование здоровых привычек', text: 'В процессе регулярного исполнения полученных рекомендаций под присмотром коуча появится привычка к здоровому образу жизни'},
    {title: 'Обучение', text: 'Пониманию работы своего тела, наблюдению на жизненными показателями организма, правилам питания и физической активности'},
    {title: 'Оценка достижения цели, поставка следующей промежуточной цели.', text: 'По окончании программы Вы увидите стойкие признаки улучшения психического здоровья и достигните промежуточной цели'}
  ];

  const PROGRAM_DETAIL_TEXT = 'Программа включает в себя 71 встречу на протяжении 12 месяцев ( из них 23 консультативных и 48 фитнес-встреч)';

  const PROGRAM_DETAIL = [
    {title: 'Управление возрастом. Результат', tab: '<span>Управление возрастом. </span>Результат', id: 'program-detail-result', text: PROGRAM_DETAIL_TEXT, list: PROGRAM_DETAIL_LIST},
    {title: 'Управление возрастом. Привычка', tab: '<span>Управление возрастом. </span>Привычка', id: 'program-detail-habit', text: PROGRAM_DETAIL_TEXT, list: PROGRAM_DETAIL_LIST},
    {title: 'Управление возрастом. Обучение', tab: '<span>Управление возрастом. </span>Обучение', id: 'program-detail-learning', text: PROGRAM_DETAIL_TEXT, list: PROGRAM_DETAIL_LIST},
    {title: 'Управление возрастом. Рекомендации', tab: '<span>Управление возрастом. </span>Рекомендации', id: 'program-detail-recommendations', text: PROGRAM_DETAIL_TEXT, list: PROGRAM_DETAIL_LIST}
  ];

  // cost section
  const COST_CARDS = [
    {icon: {id: 'cost-1', w: '43', h: '43'}, text: 'Первая консультация бесплатна'},
    {icon: {id: 'cost-2', w: '42', h: '42'}, text: 'Дополнительная консультация вне программы (при наличии свободного времени), 1 час - 70 $'},
    {icon: {id: 'cost-3', w: '40', h: '40'}, text: 'Оплата производится в Белорусских рублях по курсу Национального банка на день оплаты'},
    {icon: {id: 'cost-4', w: '41', h: '40'}, text: 'Для второго участника – партнера скидка 15%'},
    {icon: {id: 'cost-5', w: '36', h: '40'}, text: 'Дополнительный консультативный телефонный звонок (при наличии свободного времени), 30 мин - 20 $'},
    {icon: {id: 'cost-6', w: '41', h: '41'}, text: 'Дополнительные расходы в рублях разово и в год (ориентировочно).'}
  ];

  // program tables section
  const PROGRAM_TABLES_TABS = [
    {text: 'Управление возрастом Offline', target: 'table-offline'},
    {text: 'Управление возрастом Online', target: 'table-online'},
    {text: 'Дополнительные обследования, анализы', target: 'table-additional'},
    {text: 'Варианты оплаты', target: 'table-payment'}
  ];

  const PROGRAM_TABLES_HEAD_OFFLINE = {
    simple: ['Программы', 'Подробности оплаты', 'Цель программы'],
    composite: [{
      title: 'Offline программы',
      list: ['Количество встреч', 'Цена,&nbsp;$', 'Цена для партнера']
    }]
  };

  const PROGRAM_TABLES_HEAD_ONLINE = {
    simple: ['Программы', 'Подробности оплаты', 'Цель программы'],
    composite: [{
      title: 'Online программы',
      list: ['Количество встреч online без фитнеса', 'Online без фитнеса', 'Количество встреч online + фитнес', 'Online с фитнесом']
    }]
  };

  const PROGRAM_TABLES_HEAD_PAYMENT = {
    simple: ['Программы', 'Подробности оплаты', 'Содержание'],
    composite: [{
      title: 'Offline программы',
      list: ['Количество встреч', 'Цена,&nbsp;$', 'Цена для партнера']
    },{
      title: 'Online программы',
      list: ['Количество встреч online без фитнеса', 'Online без фитнеса', 'Количество встреч online + фитнес', 'Online с фитнесом']
    }]
  };

  const PROGRAM_TABLES_ROWS_OFFLINE = [
    {firstThreeCells: ['<b>Управление возрастом Рекомендации</b>','Длительность 1 месяц', 'Цель: консультации и получение рекомендаций.'], groupCells: [['5', '<b>500</b>', '<b>425</b>']]},
    {firstThreeCells: ['<b>Управление возрастом Обучение</b>','Возможно только после Программы Рекомендации. Длительность 3 месяца, 18 встреч', 'Цель: обучение иследованию рекомендациям.'], groupCells: [['18', '<b>798</b>', '<b>678</b>']]},
    {firstThreeCells: ['<b>Управление возрастом Привычка</b>', 'Возможно только после Программы Рекомендации и Обучения. Длительность 3 месяца, 18 встреч', 'Цель: формирование привычки управления возрастом.'], groupCells: [['18', '<b>756</b>', '<b>643</b>']]},
    {firstThreeCells: ['<b>Управление возрастом Результат</b>', 'Возможно только после Программы Рекомендации, Обучения и Привычек. Длительность 6 месяцев, 36 встреч', 'Цель: получение промежуточных результатов управления возрастом.'], groupCells: [['36', '<b>1190</b>', '<b>1012</b>']]}
  ];

  const PROGRAM_TABLES_ROWS_ONLINE = [
    {firstThreeCells: ['<b>Управление возрастом Рекомендации</b>','Длительность 1 месяц', 'Цель: консультации и получение рекомендаций.'], groupCells: [['5', '<b>575</b>', '5', '<b>575</b>']]},
    {firstThreeCells: ['<b>Управление возрастом Обучение</b>','Возможно только после Программы Рекомендации. Длительность 3 месяца, 18 встреч', 'Цель: обучение иследованию рекомендациям.'], groupCells: [['6', '<b>393</b>', '18', '<b>918</b>']]},
    {firstThreeCells: ['<b>Управление возрастом Привычка</b>', 'Возможно только после Программы Рекомендации и Обучения. Длительность 3 месяца, 18 встреч', 'Цель: формирование привычки управления возрастом.'], groupCells: [['6', '<b>373</b>', '18', '<b>869</b>']]},
    {firstThreeCells: ['<b>Управление возрастом Результат</b>', 'Возможно только после Программы Рекомендации, Обучения и Привычек. Длительность 6 месяцев, 36 встреч', 'Цель: получение промежуточных результатов управления возрастом.'], groupCells: [['10', '<b>587</b>', '36', '<b>1369</b>']]}
  ];

  const PROGRAM_TABLES_ROWS_PAYMENT = [
    {firstThreeCells: ['<b>Единовременно за программы  Рекомендации + Обучение </b>', 'Длительность 4 месяца, 23 встречи.', 'Обследования, лабораторная и инструментальная диагностика, получение рекомендаций + Сопровождение для обучения управлению возрастом'], groupCells: [['23', '<b>1233</b>', '<b>1048</b>'], ['11', '<b>1051</b>', '23', '<b>1418</b>']]},
    {firstThreeCells: ['<b>Помеясчно после прохождения программы Рекомендации</b>', '', 'Сопровождение для обучения/формирования привычки/получения результата с помесячной оплатой'], groupCells: [['6', '<b>280</b>', '<b>238</b>'], ['2', '<b>138</b>', '6', '<b>322</b>']]}
  ];

  const PROGRAM_TABLES = [
    {id: 'offline', head: PROGRAM_TABLES_HEAD_OFFLINE, rows: PROGRAM_TABLES_ROWS_OFFLINE},
    {id: 'online', head: PROGRAM_TABLES_HEAD_ONLINE, rows: PROGRAM_TABLES_ROWS_ONLINE},
    {id: 'additional', head: PROGRAM_TABLES_HEAD_ONLINE, rows: PROGRAM_TABLES_ROWS_ONLINE},
    {id: 'payment', head: PROGRAM_TABLES_HEAD_PAYMENT, rows: PROGRAM_TABLES_ROWS_PAYMENT}
  ];

  // application section
  const FORM_FIELDS = [
    {hint: 'Ваше имя:', placeholder: 'Введите имя', type: 'text', name: 'name'},
    {hint: 'Ваш email:', placeholder: 'Введите email', type: 'email', name: 'email'},
    {hint: 'Ваш телефон:', placeholder: 'Введите телефон', type: 'tel', name: 'phone'}
  ];

  // footer
  const FOOTER_MENU = [
    {
      title: 'О коучинге',
      list: [{text: 'Для кого?', url: '#'}, {text: 'Для чего?', url: '#'}, {text: 'Зачем?', url: '#'}]
    },{
      title: 'Программа',
      list: [{text: 'Рекомендации', url: '#'}, {text: 'Обучение', url: '#'}, {text: 'Привычка', url: '#'}, {text: 'Результат', url: '#'}]
    },{
      title: 'Приложение',
      list: [{text: 'Android', url: '#'}, {text: 'iOS', url: '#'}]
    },{
      title: 'Записаться',
      list: [{text: 'Первая встреча', url: '#'}, {text: 'Консультация', url: '#'}, {text: 'Помощь в выборе', url: '#'}]
    },{
      title: 'Об авторе',
      list: [{text: 'Опыт', url: '#'}, {text: 'Сертификаты', url: '#'}, {text: 'Стиль жизни', url: '#'}]
    }
  ];

  const SOCIAL = [
    {icon: {id: 'fb', w: '32', h: '32'}, url: '#', text: 'Facebook'},
    {icon: {id: 'inst', w: '33', h: '32'}, url: '#', text: 'Instagram'},
    {icon: {id: 'vk', w: '43', h: '26'}, url: '#', text: 'Vkontakte'},
    {icon: {id: 'youtube', w: '38', h: '26'}, url: '#', text: 'Youtube'}
  ];

  // longevity section
  const LONGEVITY_SCHEME_LIST_1 = ['Гармония психики', 'Гармония отдыха и фитнеса', 'Гармония сна и дневной активности', 'Гармония белков/ жиров/ углеводов', 'Гармония витаминов и минералов', 'Гармония гармонов'];

  const LONGEVITY_SCHEME_LIST_2 = ['Получение промежуточного результата и оперделение новых целей', 'Формирование привычки', 'Обение иполнению рекомендаций', 'Рекомендации по питанию, режиму дня, физической активности', 'Коррекция гормональных нарушений', 'Обследования'];

  // certificates
  const CERTIFICATES = [
    {name: 'certif-2', w: '405', h: '265'},
    {name: 'certif-3', w: '374', h: '265'},
    {name: 'certif-1', w: '373', h: '265'}
  ]